.layout-has-right, .layout-has-left{
    .layout-main{
	@media(min-width: $screen-md-min){
	    width: $layout-width-md;
	}
	@media(min-width: $screen-lg-min){
	    width: $layout-width-lg;
	}
    }
}
.layout-side{
    @media(min-width: $screen-md-min){
	width: 100 - $layout-width-md;
    }
    @media(min-width: $screen-lg-min){
	width: 100 - $layout-width-lg;
    }
}

// has left side
.layout-has-left{
    .layout-main{
	@media(min-width: $screen-md-min){
	    left: 100 - $layout-width-md;
	}
	@media(min-width: $screen-lg-min){
	    left: 100 - $layout-width-lg;
	}
    }
    .layout-left{
	@media(min-width: $screen-md-min){
	    right: $layout-width-md;
	}
	@media(min-width: $screen-lg-min){
	    right: $layout-width-lg;
	}
    }
}