.container{
    max-width: 100%;
}
.container-large{
    width: $layout-large-container;
}
.container-fluid{
    width: auto;
}
.container-full-width{
    width: auto;
    padding-left: 0;
    padding-right: 0;
    .layout-row {
	margin-left: 0;
	margin-right: 0;
    }
}