@import 'variables';

.layout-row{
    @include make-row;
}

.layout-main, .layout-side{
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    margin-bottom: 20px;
    padding-left:  ceil(($grid-gutter-width / 2));
    padding-right: floor(($grid-gutter-width / 2));
}

@import 'containers';
@import 'cols';