.mbdl-af .mbdl-af-preview {
  margin-bottom: 5px;
}

.mbdl-af-image .mbdl-af-preview > a, .mbdl-af-gallery .mbdl-af-preview > a {
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 10px;
}
.mbdl-af-image .mbdl-af-preview img, .mbdl-af-gallery .mbdl-af-preview img {
  max-height: 150px;
  max-width: 100%;
  height: auto;
  padding: 5px;
  border: solid 1px #ddd;
  background-color: #eee;
}

.mbdl-af .mbdl-af-remove-button {
  color: #F44336;
}
.mbdl-af .mbdl-af-remove-button:hover, .mbdl-af .mbdl-af-remove-button:focus {
  color: #ea1c0d;
}

.mbdl-af-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  padding: 0 !important;
}
.mbdl-af-switch input {
  display: none;
}
.mbdl-af-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
}
.mbdl-af-switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}
.mbdl-af-switch input:checked + .slider {
  background-color: #2196F3;
}
.mbdl-af-switch input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
.mbdl-af-switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.mbdl-af-switch .slider {
  border-radius: 34px;
}
.mbdl-af-switch .slider:before {
  border-radius: 50%;
}

/*# sourceMappingURL=admin-form.css.map */
