.mbdl-af-image, .mbdl-af-gallery{
    .mbdl-af-preview{
	>a{
	    display: inline-block;
	    margin-bottom: 5px;
	    margin-right: 10px;
	}
	img{
	    max-height: 150px;
	    max-width: 100%;
	    height: auto;
	    padding: 5px;
	    border: solid 1px #ddd;
	    background-color: #eee;
	}
    }
}