.mbdl-af-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    padding: 0 !important;
    // Hide default HTML checkbox
    input {
	display:none;
    }
    // The slider
    .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .2s;
	transition: .2s;
	&:before{
	    position: absolute;
	    content: "";
	    height: 26px;
	    width: 26px;
	    left: 4px;
	    bottom: 4px;
	    background-color: white;
	    -webkit-transition: .2s;
	    transition: .2s;
	}
    }
    input:checked + .slider {
	background-color: #2196F3;
    }

    input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
    }

    .slider{
	border-radius: 34px;
	&:before {
	    border-radius: 50%;
	}
    }

}

