.taxonomy-header{
    .taxonomy-title{
    }
    .taxonomy-description{
    }
}

.entry-archive{
    .entry-header{

    }
    .entry-title{
    }
    .entry-meta{
    }
    .entry-thumbnail{
        img{
        }
    }
    .entry-content{
        p{
        }
    }
    .entry-readmore{

    }
    .entry-footer{

    }
}
