.number-pagination{
    .nav-links{
        .page-numbers{
            &.current{
            }
        }
        a.page-numbers{
            &:hover, &:focus{
            }
        }
    }
}