.entry-single, .entry-page{
    .entry-header{
    }
    .entry-meta{
        a{
        }
    }
    .entry-thumbnail{
        img{
        }
    }
    .entry-content{
    }
    .entry-footer{
        
    }
    .entry-tags{
        >a{
        }
    }
}

.entry-single{
    .entry-header{

    }
    .entry-title{

    }
    .entry-meta{

    }
    .entry-thumbnail{

    }
    .entry-content{

    }
    .entry-footer{

    }
}